@use 'partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Silkscreen', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#header{
    a{
        text-decoration: none;
        color: black;
    }
    .nav-link{
        font-size: 1.2em;
        font-weight: bold;
    }
    #jumbotron{
        background-image: url(/public/img/jumbotron.jpg);
        background-size: cover;
        height: 450px;
    }
}
ul {
    list-style: none;
}
.my-img{
    width: 200px;
    height: 200px;
}
.my-btn{
    border: 2px solid white;
    padding: 8px 10px;
    position: absolute;
    top: -2.5%;
    right: 50%;
    background-color: blue;
   
    &:hover{
        transform: scale(1.1);
        color: greenyellow;
        cursor: pointer;
        transition: 0.7s ease;
    }
}
.my-btn-2{
    border: 2px solid white;
    padding: 8px 10px;
    position: absolute;
    top: -5%;
    right: 50%;
    background-color: blue;
    &:hover{
        transform: scale(1.1);
        color: red;
        cursor: pointer;
        transition: 0.7s ease;
    }
}
.my-btn-dlt{
    border: 2px solid white;
    padding: 4px 5px;
    top: -5%;
    right: 50%;
    background-color: red;
    font-size: 0.8em;
    &:hover{
        transform: scale(1.1);
        color: white;
        cursor: pointer;
        transition: 0.7s ease;
    }
}